.body{
    margin: auto;
    background-color: black;
    width: 100%;
}
.navbar-inverse{
    width: 100%;
    position: fixed !important; 
    background-color: rgb(49, 44, 44); 
    font-size: 25px !important; 
    z-index: 100;
}
.media-heading{
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
    color:#dd2b66;
    background-color: #000;
}

.media-heading > span{
    color: #EF6C06;
    font-style: italic;
    text-shadow: 1px 6px 9px  grey;
}
.media-left{
    margin-left: 5%;
}
.mediaContainer{
    font-size: 25px;
    color: #fff;
}
.socials{
    margin-left: 10%;
}
.socials1{
    height: 30px;
    width: 30px;
    margin-left: 2%;
}
h1{ 
    color: #dd2b66;
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
    background-color: rgb(151, 199, 221);
}


.form-group{
    margin-left: 10%;
    margin-top: 10%;
}
label{
    color: #fff;
}
.radio{

    color: #fff;
}
.radio1{
    margin-left: 16%;
}
.btn-primary{
    margin-left: 3%;
    margin-top: 5%;
    
}
.imgContainer{
    height: 300px;
    width: 23%;
    box-shadow: 10px 20px 10px rgb(70, 66, 66);

}
.img{
    height: 300px;
    float: left;
}
.media-object{
    border-radius: 5%;
}
#description{
    display: inline-block !important;
    margin-top: 5%;
    margin-left: 5%;

}
.skillImg{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
   
}

.skillImg > img{
    height: 80px;
    width: 80px;
    margin-left: 2%;
    border-radius: 5px ;
}
.container > table{
    margin-top: 4%;
}

.eduContainer{
    height: auto;
    width: 100%;
    text-align: center;
}
h2{
    text-align: center;
}

.year{
    display: inline-block;
}
.yearContainer{
    color: blanchedalmond;
    text-align: center;
    height: 30px;
    width: 70px;
    background-color: rgb(214, 193, 6);
    margin-top: 26px;
    box-shadow: 5px 10px 5px #959558;
}
.qualification{
    display: inline-block;
    height: auto;
    width: auto;
}


.mapContainer{
    border-radius: 8% ;
    margin-left: 2%;
}
.submitContainer{
    color: white;
}
.submit{
    color: white;
    float: right;   
}
.button{
    background-color: #1e96c5;
    border-radius: 7px;
    height: 32px;
    width: 88px;
}
input[type=text]{
    width: 100%;
    padding: 2px 20px;
}
.contactContainer{
    float: right;
    margin-top: -31%;
    margin-right: 300px;
    width: 100%;

}
.personal{
    color: white;

}
.text{
    color: blanchedalmond;
    display: inline-block;
}
footer{
    color: white;
}
.mydivouter > img{
    height: 300px;
    width: 500px;
    float: left;
    margin-top: 10%;
    margin-bottom: 5%; 
    border-radius: 20px;
    border: 2px white groove;
}

.mydivouter1 > img{
    height: 300px;
    width: 500px;
    float: left;
    margin-top: 10%;
    margin-bottom: 5%; 
    margin-left: 5%; 
    border-radius: 20px;
    border: 2px white groove;
}
#contact{
    display: inline-block;
    width: 100%;
}
.mydivouter{
    position:relative;
    width: 200px;
    height: 120px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 8%;
}
.mydivouter1{
    position:relative;
    width: 200px;
    height: 120px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 30%;
    margin-top: 2%;
}
.mydivoverlap{
    position: relative;
    z-index: 1;
}
.projects{
    display: block;
    height: 380px;
}
.mybuttonoverlap{
    position: absolute;
    z-index: 2;
    display: none;
    height: 40px;
    width: 100px;
    visibility: hidden;	
}

.mydivouter:hover .mybuttonoverlap{ 
    display:block;
    visibility: visible;
    margin-top: 80%;
    margin-left: 100%;
}
.mydivouter1:hover .mybuttonoverlap{ 
    display:block;
    visibility: visible;
    margin-top: 80%;
    margin-left: 110%;
}